<%= form_for(@queriable_data_store, url: thing_path(@queriable_data_store)) do |f| %>
  <% if @queriable_data_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@queriable_data_store.errors.count, "error") %> prohibited this queriable_data_store from being saved:</h2>

      <ul>
      <% @queriable_data_store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :public %><br>
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
