<h2>Sign up<%= @facebookRegistration ? ' using your facebook account' : (
@githubRegistration ? ' using your github account' : ''
) %></h2>
<div class="sin-condensed-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label field">
      <%= f.label :username, class: "mdl-textfield__label" %>
      <%= f.text_field :username, autofocus: true, pattern: '[a-zA-Z0-9_-]{3,140}', class: "mdl-textfield__input" %>
    </div>
    <div class="mdl-cell mdl-cell--7-col sin-flex-center sin-padding-left">
      <em>An username is composed of at least 3 letters, digits, underscores, or dashes.</em>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :email, class: "mdl-textfield__label" %>
      <%= f.email_field :email, class: "mdl-textfield__input" %>
    </div>
  </div>

  <% if !@facebookRegistration && !@githubRegistration %>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :password, class: "mdl-textfield__label" %>
      <%= f.password_field :password, autocomplete: "off", class: "mdl-textfield__input" %>
    </div>
    <% if @minimum_password_length %>
      <div class="mdl-cell mdl-cell--5-col sin-flex-center sin-padding-left">
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      </div>
    <% end %>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :password_confirmation, class: "mdl-textfield__label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "mdl-textfield__input" %>
    </div>
  </div>
  <% end %>

  <div class="field">
     <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect sin-margin-checkbox" for="terms_of_use">
      <%= f.check_box :terms_of_service, class: "mdl-checkbox__input", id: "terms_of_use" %>
      <span class="mdl-checkbox__label">I have off course read the terms of service and I agree with them</span>
    </label>
  </div>

  <div class="mdl-grid">
    <div class="actions mdl-cell mdl-cell--4-col">
      <%= f.submit "Sign up", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>
    </div>
  </div>
<% end %>
</div>
<br>

<%= render "devise/shared/links" %>
